/* === デバッグ用各要素アウトライン
* {
    outline: 1px solid red;
} === */
@use '../layout/module' as *;

/* ベース */
body {
    font-family: var(--font-jp);
    font-size: var(--font-size-base);
    line-height: 1.6;
    color: #333;
    background-color: var(--bg-color);
    height: 100%;
    margin: 0;
}

body.no-scroll {
    overflow: hidden;
    height: 100%;
}

h1 {
    font-size: clamp(24px, 2.86vw, 40px);
}

h2 {
    font-size: var(--font-size-2xl);
}

h3 {
    font-size: var(--font-size-xl);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

