/* ボタンの上書きデザインを記述 */
.recipe-source__link.btn.btn--primary{
    background-color: var(--sub-color);
}

.stamp-open-btn.btn.btn--primary{
    background-color: var(--sub-color);
    color: var(--text-color);
    text-shadow: 3px 2px 0 #fff;
}
