.monthly-table {
    width: 100%;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: .5rem;
}

thead {
    background: #f5f5f5;
    font-weight: bold;
}

tfoot td {
    font-weight: bold;
    background: #f0f9ff;
}