
/* コントロールボタンパネル */

.controls__btn {
    background-color: #d0d3d8;
    border: solid 3px #333;
    color: #3f5f9a;
}


.controls__btn p {
    margin: 0;
    color: #111;
    font-size: var(--font-size-base);
    font-weight: bold;
}

