<section class="tablepanel py-4 px-4 bg-sub">
    <div class="monthly-table">
        <h2>月間収支</h2>

        <table id="monthlyTable">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>区分</th>
                    <th>カテゴリー</th>
                    <th>金額</th>
                    <th>メモ</th>
                </tr>
            </thead>
            <tbody id="monthlyTableBody">
                <!-- JSから挿入 -->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">合計</td>
                    <td id="monthlyTotal">0</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>

</section>