<!-- 各ツールボタン -->
<div class="bg-accent py-4 px-4 l-row l-row--gap">
    <section class="controls">
        <button class="btn controls__btn" id="btnChatGPT">
            <span></span>
            <i class="fa-solid fa-robot"></i>
            <p>chatGPT</p>
        </button>

        <button class="btn controls__btn nav-btn" data-page="yuuma">
            <i class="fa-solid fa-child-reaching"></i>
            <p>ゆうま</p>
        </button>

        <button class="btn controls__btn nav-btn" data-page="asha">
            <i class="fa-solid fa-person-dress"></i>
            <p>あしゃ</p>
        </button>

        <button class="btn controls__btn nav-btn" data-page="sota">
            <i class="fa-solid fa-user-tie"></i>
            <p>そた</p>
        </button>

{{!--         <button class="btn controls__btn">
            <span></span>
            <i class="fa-solid fa-house"></i>
            <p>仮5</p>
        </button>

        <button class="btn controls__btn">
            <i class="fa-solid fa-robot"></i>
            <p>仮6</p>
        </button>

        <button class="btn controls__btn">
            <i class="fa-solid fa-map-location-dot"></i>
            <p>仮7</p>
        </button>

        <button class="btn controls__btn">
            <i class="fa-solid fa-language"></i>
            <p>仮8</p>
        </button> --}}
    </section>
</div>