// ------------------------------
// ◆ overlayモーダル
// ------------------------------

/* 背景 */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
    display: grid;
    place-items: center;

    /*表示非表示のアニメーション部分*/
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .25s, visibility 0s linear .25s;
}

/* 表示状態 */
.overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    /*表示時はvisibility遅延なし */
    transition: opacity .25s, visibility 0s;
}

/* 本体 */
.modal {
    width: min(900px, 90%);
    max-height: 90vh;
    min-height: 200px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    overflow-y: auto;

    transform: translateY(12px) scale(.95);
    opacity: 0;

    transition: transform .25s, opacity .25s;

    .overlay-content {
        width: 100%;
    }

    //モーダルの閉じるボタン
    .close-modal {
        background-color: #333;
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        color: #fff;
        margin-bottom: 1rem;
    }
}

//モーダルopen時
.overlay.active .modal {
    transform: translateY(0) scale(1);
    opacity: 1;
}